<p class="craue_formflow_buttons">
	{#
		Default button (the one trigged by pressing the enter/return key) must be defined first.
		Thus, all buttons are defined in reverse order and will be reversed again via CSS.
		See http://stackoverflow.com/questions/1963245/multiple-submit-buttons-specifying-default-button
	#}
	<button type="submit">
		{%- if flow.getCurrentStep() < flow.getMaxSteps() -%}
			{{- 'button.next' | trans({}, 'CraueFormFlowBundle') -}}
		{%- else -%}
			{{- 'button.finish' | trans({}, 'CraueFormFlowBundle') -}}
		{%- endif -%}
	</button>

	{% if flow.getCurrentStep() in 2 .. flow.getMaxSteps() %}
		{# see http://www.html5rocks.com/en/tutorials/forms/html5forms/ #}
		<button type="submit" name="{{ flow.getFormTransitionKey() }}" value="back" formnovalidate="formnovalidate">
			{{- 'button.back' | trans({}, 'CraueFormFlowBundle') -}}
		</button>
	{% endif %}

	<button type="submit" name="{{ flow.getFormTransitionKey() }}" value="reset" formnovalidate="formnovalidate">
		{{- 'button.reset' | trans({}, 'CraueFormFlowBundle') -}}
	</button>
</p>
