{% extends '@IntegrationTest/layout.html.twig' %}

{% block content %}
<div id="step-number">{{ flow.getCurrentStepNumber() }}</div>
<div id="form-data">{{ formData | json_encode }}</div>
<div id="step-list">{% include '@CraueFormFlow/FormFlow/stepList.html.twig' %}</div>
{% set routeParams = app.request.query.all() | merge(app.request.attributes.get('_route_params')) %}
{% if flow.isAllowDynamicStepNavigation() %}
	{% set routeParams = routeParams | craue_removeDynamicStepNavigationParameters(flow) %}
{% endif %}
{{ form_start(form, {'action': path(app.request.attributes.get('_route'), routeParams)}) }}
	{{ form_errors(form) }}
	{{ form_rest(form) }}
	{% include '@CraueFormFlow/FormFlow/buttons.html.twig' %}
{{ form_end(form) }}
{% endblock %}
